<% header 'Hello ' + current_user.name %>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>

    <div class="container">

      <div class="row">
        <div class="col-lg-offset-3 col-lg-6">
            <div class="form-group">
              <%= f.label :name %>
              <%= f.text_field :name, class: 'form-control' %>
            </div>
          </div>
        </div>

      <div class="row">
        <div class="col-lg-offset-3 col-lg-6">
            <div class="form-group">
              <%= f.label :email %>
              <%= f.email_field :email, class: 'form-control' %>
              <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                  <span class="label label-info">Currently waiting confirmation for: <%= resource.unconfirmed_email %></span>
              <% end %>
            </div>
          </div>
        </div>

      <div class="row">
        <div class="col-lg-offset-3 col-lg-6">
            <div class="form-group">
              <%= f.label :password %>
              <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
              <span class="help-block">leave blank if you don't want to change it</span>
            </div>
          </div>
        </div>

      <div class="row">
        <div class="col-lg-offset-3 col-lg-6">
            <div class="form-group">
              <%= f.label :password_confirmation %><br />
              <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
            </div>
          </div>
        </div>

      <div class="row">
        <div class="col-lg-offset-3 col-lg-6">
            <div class="form-group">
              <%= f.label :current_password %>
              <%= f.password_field :current_password, autocomplete: "off", class: 'form-control' %>
              <span class="help-block">we need your current password to confirm your changes</span>
            </div>
          </div>
        </div>

      <div class="row">
        <div class="col-lg-offset-3 col-lg-6">
            <div class="form-group">
              <%= f.label :date_of_birth %>
              <%= f.text_field :dob, class: 'form-control' %>
            </div>
          </div>
        </div>

      <div class="row">
        <div class="col-lg-offset-3 col-lg-6">
            <div class="form-group">
              <%= f.label :gender%>
              <br>
              <%= f.label :gender, 'Male'%>
              <%= f.radio_button :gender,'Male'%>
              <%= f.label :gender, 'Female'%>
              <%= f.radio_button :gender,'Female'%>
            </div>
          </div>
        </div>

      <div class="row">
        <div class="col-lg-offset-3 col-lg-6">
            <div class="form-group">
              <%= f.label :profile_picture %>
              <%= f.file_field :profile_picture, class: 'form-control' %>
            </div>
          </div>
        </div>

      <div class="row">
        <div class="col-lg-offset-3 col-lg-6">
          <%= f.submit "Update Profile", class: 'btn btn-primary btn-block' %>
        </div>
      </div>
<% end %>
<br>
<div class="row">
  <div class="col-lg-offset-3 col-lg-6">
        <%= button_to "Deactivatel my account", registration_path(resource_name), class: 'btn btn-danger btn-block',
                      data: { confirm: "Are you sure?" }, method: :delete %>
    <br>
      <%= link_to " Back", :back,  class: 'glyphicon glyphicon-backward'%>
    </div>
  </div>
</div>